.bg{
    background-image: url("../img/background.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
div{
    width: 100%;
    padding: 0 15px;
}
