.bg{
    background-image: url("../img/background.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
div{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

footer{

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}
h1{
    font-size: 30px; 
    text-align: center;
    color: whitesmoke;
    margin: 0px;
    padding: 0px;
}
a{
    color: whitesmoke;
}
.menulateral{
background-color:#343a40;
color: whitesmoke;

}
div.menulateral div a.card-link:hover{
    color: whitesmoke;

}