<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

    <title>Vista Admin List Veh</title>
</head>

<body class="bg">

    <!--header-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header col-4 m-0 " style=" display: flex;">
                <div style="padding: 0;">
                    <a class="navbar-brand" href="#"><img src="../img/logo-png.png" alt="Logo"
                        style="width: 90%; height: 90%;"></a>
                </div>
                <div style="padding: 0; margin: 0;">
                    <h1>Concesionario<br>San Pedro</h1>
                </div>
            </div>
            <div class="col-6">
                <form class="form-inline">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Buscar"
                        aria-label="Search">
                    <button class="btn btn-sm btn-outline-black my-0 bg-black" type="button">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </div>


            <div class="col-2 m-0 p-0">
                <p style="color: white; margin: 0; ">Bienvenido <span th:utext=${nombre}>user</span><img src="../img/user.png" alt="icono user"
                        width="10%" height="10%" style="margin-left: 5%;"></p>
            </div>
        </div>


    </nav>

    <!--Menu lateral-->

    <div class="row">
        <div class="col-2" style="margin-top: 2%; margin-left: 2%; background-color:#00000094; height: 300px;">
            <div id="accordion" style="margin-top: 10%;">
                <!--
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                            Vehiculos
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show">
                        <div class="card-body">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Option 1
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Option 2
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <div class="card menulateral">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                           Vehiculos
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <div class="form-check">
                                <!-- poner hiperenlaces mas que checkbox con las opciones mas usadas o accesos directos-->
                                <div class="form-check">
                                <label class="form-check-label">
                                    <a href=Admin/registro-veh th:href="@{/Admin/registro-veh}" style="text-decoration:none;">Agregar vehiculo</a>
                                </label>
                            	</div>
                                
                         </div>
                    </div>
                </div>
				</div>
	
            </div>
        </div>
        <!--Lista vehiculos-->
        <div class="col-8" style="margin-top: 5%; background-color:#FFF; margin-left: 2%;">
            <div>
         		   <table class="table">
					<thead>
						<tr>
							<th>Marca</th>
							<th>Modelo</th>							
							<th>Matricula</th>
							<th>Número de Bastidor</th>
							<th>Tipo Combustible</th>
							<th>Kilómetros</th>
							<th>precio</th>
						</tr>
					</thead>
			         <tbody>
			                <tr th:each="Vehiculo :${Vehiculo}">
			                <td th:text="${Vehiculo.marca}"></td>
			                <td th:text="${Vehiculo.modelo}"></td>
			                <td th:text="${Vehiculo.matricula}"></td>
			                <td th:text="${Vehiculo.numBastidor}"></td>
			                <td th:text="${Vehiculo.tipoCombustible}"></td>
			                <td th:text="${Vehiculo.km}"></td>
			                <td th:text="${#numbers.formatCurrency(Vehiculo.precio)}"></td>
			                <td class="operaciones"  style="width:10%">
			                <a href="#"	class="btn btn-primary"><i class="fas fa-pen"></i></a>
			                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal"><i class="fas fa-times"></i></button>
			                </td>
			                </tr>
			         </tbody>
         	</table>    
            </div>
        </div>
        <div class="col-2">
            <!--div de relleno-->
        </div>
        
        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Borrar producto</h4>
				</div>
				<div class="modal-body">
					<p>¿Está usted seguro de borrar este producto?</p>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<a href="#" class="btn btn-danger">Sí</a>
				</div>
			</div>

		</div>
    </div>

    <!--scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>