<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

    <title>Registro</title>
</head>

<body class="bg">

    <!--header-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header col-4 m-0 " style=" display: flex;">
                <div style="padding: 0;">
                    <a class="navbar-brand" href="#"><img src="../img/logo-png.png" alt="Logo"
                        style="width: 90%; height: 90%;"></a>
                </div>
                <div style="padding: 0; margin: 0;">
                    <h1>Concesionario<br>San Pedro</h1>
                </div>
            </div>
            <div class="col-6">
                <form class="form-inline">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Buscar"
                        aria-label="Search">
                    <button class="btn btn-sm btn-outline-black my-0 bg-black" type="button">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </div>


            <div class="col-2 m-0 p-0">
              <!--    
              <p style="color: white; margin: 0; ">Bienvenido ______ <img src="img/user.png" alt="icono user"
                        width="10%" height="10%" style="margin-left: 5%;"></p>
              -->
            </div>
        </div>


    </nav>

    <!--Menu lateral-->

    <div class="row">
        <div class="col-2">
        </div>
        <!--Formulario de Registro-->
        <div class="col-8" style="margin-top: 2%; background-color:#00000094; margin-left: 2%; color: whitesmoke;">
            <div>
                <form method="POST" action="#" th:action="@{/Admin/registro-emp}" th:object="${registroEmp}" id=formulario>
                    <div class="form-group">
                        <label for="name">Nombre:</label>
                        <input type="text" class="form-control" placeholder="Nombre" id="name" required th:field="*{nombre}">
                    </div>
                    <div class="form-group">
                        <label for="name">Apellidos: </label>
                        <input type="text" class="form-control" placeholder="Apellidos" id="name" required th:field="*{apellidos}">
                    </div>
                    <div class="form-group">
                        <label for="name">Dirección:</label>
                        <input type="text" class="form-control" placeholder="Direccion" id="address" required th:field="*{direccion}">
                    </div>
                    <div class="form-group">
                        <label for="number">Teléfono de contacto</label>
                        <input type="number" class="form-control" placeholder="Teléfono " id="number" required th:field="*{numTel}">
                    </div>
                    <div class="form-group">
                        <label for="email"> Direccion de correo electrónico:</label>
                        <input type="email" class="form-control" placeholder="Correo electrónico" id="email"  name="username"  required th:field="*{email}">
                    </div>
                    <div class="form-group">
                        <label for="email">Confirmar correo electrónico :</label>
                        <input type="email" class="form-control" placeholder="Confirmar correo electrónico" required id="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña :</label>
                        <input type="password" class="form-control" placeholder="Contraseña" id="password" name="password" required th:field="*{password}">
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label" style="margin-left: 3%;">
                            <input class="form-check-input" type="checkbox"> Acepto Términos y Condiciones & Politicas
                            de Privacidad
                        </label>
                    </div>
                    <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary" style="margin-bottom: 1%;">Resgistrarse</button>
                </div>
                </form>
            </div>
        </div>
        <div class="col-2">
            <!--div de relleno-->
        </div>
</div>
        <!--scripts-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>

</html>